html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}
.flexArea {
  height: 100%;
  overflow-x: hidden;
  transition: margin-left 0.5s;
}

button {
  outline: none;
}

.sidenav {
  background-color: #263544;
  color: #f0f3f8;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav .logo {
  text-align: center;
  padding: 15%;
}
.sidenav button {
  width: 100%;
  padding: 10px;
  border: 0;
  text-align: left;
  background-color: #263544;
  color: #f0f3f8;
  outline: none;
  font-family: "Quicksand", sans-serif;
}
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.4s;
  font-family: "Quicksand", sans-serif;
}
.sidenav h5 {
  margin-left: 15px;
  margin-bottom: 5px;
}

.sidenav-active-set {
  background-color: #151d29 !important;
  border-left: 2px #f0f3f8 solid;
}
.sidenav-active-link {
  background-color: #1d2531 !important;
}

.sidenav button:hover {
  color: #f1f1f1;
  background-color: #151d29;
}

.sidenav i {
  padding: 0 5px;
}

.dropdown-container {
  display: none;
  transition: 0.4s;
  background-color: #162534 !important;
}
.dropdown-container button {
  background-color: #162534 !important;
}
.dropdown-container button:hover {
  background-color: #151d29 !important;
  transition: 0.4s;
}

.dropdown-container a {
  margin-left: 15px;
}

.dropdown-btn {
  transition: 0.4s;
}

.navbar {
  height: 65px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  margin: auto;
  /* position: relative; */
  /* top: -15px; */
}
.navbar ul {
  /* display: block; */
  margin: auto;
  list-style: none;
  /* float: left; */
  /* align-content: center; */
  /* margin-top: 20px; */
  padding: auto 0;
  color: #20190f;
}

.navbar ul > a > li {
  padding-top: 20px;
}
.closebtn {
  float: right;
  padding-right: 15px;
  padding-top: 10px;
  color: white;
}
.openbtn {
  color: #333;
}

.right-float {
  /* display: inline-flex; */
  float: right;
  margin-right: 2%;
  padding-top: 0 !important;
  margin-top: -14px !important;
  color: #333;
}
.right-float ul {
  height: 100%;
}

.flexContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#dashboardLineContainer {
  justify-content: flex-start;
  margin-left: 2%;
}
.verticalFlex {
  display: flex;
  flex-direction: column;
}
.verticalFlexItem {
  flex: 0 0 10% !important;
}

.verticalFlexItem h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2%;
}
.flex-card {
  flex: 0 0 16.8%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  margin: 1%;
  padding-left: 20px;
  border-radius: 10px;
  /* text-align: center; */
}
.card {
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.card4TableflexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
}
.card4Table {
  grid-template-areas:
    "header header header"
    "main main main "
    "footer footer footer";
  margin: 1rem;
  min-height: 100px;
  width: 22vw;
  min-width: 250px;
  border-radius: 10px;

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.flex-30 {
  flex: 0 0 30%;
  margin: 1%;
}
.flex-25 {
  flex: 0 0 25%;
  margin: 1%;
}
.flex-70 {
  flex: 0 0 70%;
  margin: 1%;
}
.flex-60 {
  flex: 0 0 60%;
  margin: 1%;
}

.flex-50 {
  flex: 0 0 50%;
  margin: 1%;
}
.flex-40 {
  flex: 0 0 40%;
  margin: 1%;
}
#homeIcon {
  background-color: #449ff5;
  color: white;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-right: 2%;
  padding: 1%;
}

.dashboardLine {
  margin: 1%;
  align-content: center;
  justify-content: left;
  justify-self: flex-start;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 1.2vw;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.flex-30-end {
  flex: 0 0 65%;
  justify-content: center;
  align-content: flex-end;
}
.flex-40-end {
  flex: 0 0 50%;
  justify-content: center;
  align-content: flex-end;
}

.responsive {
  width: 100%;
  height: auto;
}

.tableFees {
  text-align: center;
  /* margin-right: 2%; */
}

.tableFees {
  background-color: #ccc;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cardRow1 {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  /* flex-wrap: wrap; */
}
.cardRow2 {
  grid-area: main;
  padding-left: 3%;
}

.cardRow3 {
  grid-area: footer;
  background-color: #eee;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main "
    "footer footer footer";
  grid-gap: 10px;
  min-width: 200px;

  /* padding: 10px; */
}

.profileLetter {
  padding: 10px;
  /* background-color: #4099ff; */
  border-radius: 50%;
  text-align: center;
  color: #fff;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.subname {
  grid-area: header;
  padding-left: 3%;
  padding-top: 10px;
  text-align: center;
}

.progress {
  grid-area: main;
  width: 90%;
  height: 10px;
  margin-top: 0.5rem;
  border: 1px;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.attendance-graph {
  min-width: 200px;
}
@media only screen and (max-width: 600px) {
  .flexContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
  }
  ul.breadcrumb {
    padding: 1rem 1rem;
    list-style: none;
  }
  ul.breadcrumb li {
    font-size: 1rem;
  }

  .card-grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main main "
      "footer footer footer";
    margin: 0.5rem 0rem 0.5rem 0rem;
    min-width: 100%;

    /* padding: 10px; */
  }

  .card4Table {
    width: 100%;
    margin: 0.5rem;
  }
}
